@import url(./../../../../styles/fonts.css);

.banner {
	height: 100%;
	width: 100%;
	padding-left: calc((100px - 98px) + 7vw);
	background: linear-gradient(90deg, #211f20 0%, rgba(255, 255, 255, 0) 100%);
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.content {
	width: calc((620px - (14px * 24)) + 24vw);
	display: flex;
	flex-direction: column;
	align-items: center;
	row-gap: 40px;
	transform: rotate(-8.4deg);
}

.title {
	font-family: ZingRustDemo-Base;
	font-size: calc(27px + 2.5vw);
	text-align: center;
	text-transform: uppercase;
	line-height: 109.2%;
	color: #fff;
	position: relative;
}

.title::before {
	content: "Доставка вкуснейших блюд за 60 минут";
	position: absolute;
	top: 8px;
	left: -22px;
	-webkit-text-stroke: 1px #888;
	color: transparent;
	z-index: -1;
}

.question {
	display: inline-block;
	width: calc((300px - 64px) + 4vw);
	padding: 8px 0;
	background: linear-gradient(114.93deg, #618967 5.11%, #72a479 94%);
	font-family: ZingRustDemo-Base;
	font-size: 25px;
	line-height: 109.2%;
	text-align: center;
	text-transform: uppercase;
	color: #fff;
	transform: skew(-8.4deg);
	z-index: 10;
}

@media (max-width: 882px) {
	.banner {
		padding-left: 0;
		justify-content: center;
	}
}
