@import url(./../../../../styles/fonts.css);

.counter {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	background-color: #79b382;
	text-align: center;
	line-height: 50px;
	font-family: Gilroy-Bold;
	font-size: 20px;
	color: #fff;
	position: absolute;
	top: -10px;
	right: -10px;
}

.buttonCountChange {
	height: 40px;
	font-size: 1.6em;
}

.buttonCountChange:active {
	background: linear-gradient(114.93deg, #618967 5.11%, #72a479 94%);
	box-shadow: 0px 5px 10px rgba(114, 163, 121, 0.7);
}

.price {
	font-family: Gilroy-Semibold;
	font-size: 20px;
	line-height: 24px;
	color: #fff;
}
