@import url(./../../styles/fonts.css);

.container {
	display: flex;
	justify-content: center;
	gap: 20px;
}

.form {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.form__container {
	width: 800px;
	padding: 30px;
	display: flex;
	flex-direction: column;
	row-gap: 30px;
	background: linear-gradient(90deg, #494544 0%, #504b4a 100%);
	border-radius: 10px;
}

.form__title {
	font-family: Gilroy-Bold;
	font-size: 18px;
	line-height: 22px;
	color: #fff;
}

.form__content {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	gap: 15px;
}

.form__box {
	width: 600px;
	display: flex;
	gap: 15px;
}

.form__input {
	width: 100px;
	padding: 20px 30px;
	border: 1px solid rgba(255, 255, 255, 0.1);
	border-radius: 10px;
	flex: 1;
	background-color: transparent;
	font-size: 16px;
	line-height: 19px;
	color: #fff;
}

.form__input:focus {
	outline: none;
}

.choiceContainer {
	display: flex;
	align-items: center;
	gap: 20px;
	font-family: Gilroy-Medium;
	font-size: 16px;
	line-height: 19px;
	color: #fff;
}

.choiceBox {
	display: flex;
	border-radius: 10px;
}

.choiceBox input {
	position: absolute;
	z-index: -1;
	opacity: 0;
}

.choiceBox input:checked + label {
	background-image: linear-gradient(114.93deg, #618967 5.11%, #72a479 94%);
}

.choiceButton {
	height: 60px;
	width: 180px;
	border: 1px solid #72a479;
	border-right: 1px solid #72a479;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}

.choiceLeft {
	border-radius: 10px 0 0 10px;
}

.choiceRight {
	border-radius: 0 10px 10px 0;
}

.choiceAddBlock {
	width: 170px;
	padding: 20px 30px;
	border: 1px solid rgba(255, 255, 255, 0.1);
	border-radius: 10px;
	font-size: 16px;
	line-height: 19px;
	background-color: transparent;
	color: #fff;
}

.choiceAddBlock:focus {
	outline: none;
}

.deliveryTime {
	display: flex;
	gap: 10px;
}

.street {
	flex: 2.8;
}

.flat {
	flex: 1.2;
}

input[type="time"]::-webkit-calendar-picker-indicator {
	filter: invert(1);
}

.persons {
	height: 60px;
	padding: 0 30px;
	border: 1px solid rgba(255, 255, 255, 0.1);
	border-radius: 10px;
	display: flex;
	align-items: center;
	align-self: start;
	gap: 20px;
	font-size: 16px;
	line-height: 19px;
	background-color: transparent;
	color: #fff;
}

.persons button {
	padding: 4px 8px;
	border: none;
	background-color: transparent;
	font-family: Gilroy-Medium;
	font-size: 28px;
	line-height: 21px;
	color: #fff;
	cursor: pointer;
}

.persons span:last-of-type {
	width: 20px;
	font-family: Gilroy-Medium;
	font-size: 18px;
	line-height: 21px;
	text-align: center;
	color: #fff;
}

.callBox {
	display: flex;
	flex-direction: column;
	gap: 15px;
}

.callItem {
	display: flex;
	gap: 10px;
	font-family: Gilroy-Medium;
	font-size: 13px;
	line-height: 15px;
	color: #fff;
}

.callItem input {
	display: none;
}

.callItem label {
	display: flex;
	align-items: center;
	gap: 10px;
}

.callItem label:before {
	content: "";
	display: inline-block;
	height: 20px;
	width: 20px;
	border: 1px solid #e7eef1;
	border-radius: 50%;
	background-color: transparent;
}

.callItem input:checked + label::before {
	border: 1px solid #72a479;
	background-color: #72a479;
	outline: 3px solid #494544;
	outline-offset: -4px;
}

.agreement {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	gap: 10px;
}

.agreement input {
	display: none;
}

.agreement label {
	display: flex;
	align-items: center;
	gap: 10px;
	font-family: Gilroy-Medium;
	font-size: 13px;
	color: #fff;
}

.agreement label::before {
	content: "";
	display: inline-block;
	width: 22px;
	height: 22px;
	border: 1px solid rgba(255, 255, 255, 0.1);
	border-radius: 3px;
	background: #fff;
	background-repeat: no-repeat;
	background-position: center center;
}

.agreement input:checked + label::before {
	background-image: url(./../../assets/images/icon_check.svg);
}

.agreement a {
	font-family: Gilroy-Medium;
	font-size: 13px;
	color: #72a479;
}

.executeButton {
	padding: 20px 50px;
	border: none;
	border-radius: 10px;
	font-family: Gilroy-Bold;
	font-size: 14px;
	line-height: 17px;
	background-image: linear-gradient(114.93deg, #618967 5.11%, #72a479 94%);
	color: #fff;
	cursor: pointer;
}

.executeButton:active {
	box-shadow: 0 0 4px #618967;
}

.executeButton:disabled {
	background-image: none;
	background-color: #61896756;
}

.executeButton:disabled:active {
	box-shadow: none;
}

.output {
	padding: 20px;
	border-radius: 10px;
	background-image: linear-gradient(114.93deg, #618967 5.11%, #72a479 94%);
	color: #fff;
}
