@import url(./../../../../styles/fonts.css);

.buttonAddToCart {
	padding: 10px 20px;
	border: none;
	border-radius: 10px;
	background-image: linear-gradient(114.93deg, #618967 5.11%, #72a479 94%);
	color: #fff;
	display: flex;
	align-items: center;
	column-gap: 12px;
	cursor: pointer;
}

.buttonAddToCart:active {
	box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.8);
}

.counter {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	background-color: #79b382;
	text-align: center;
	line-height: 50px;
	font-family: Gilroy-Bold;
	font-size: 20px;
	color: #fff;
	position: absolute;
	top: -10px;
	right: -10px;
}

.buttonCountChange {
	width: 62px;
	height: 40px;
	background-image: linear-gradient(114.93deg, #618967 5.11%, #72a479 94%);
	border: none;
	border-radius: 10px;
	color: #fff;
	font-size: 1.6em;
	cursor: pointer;
}

.buttonCountChange:active {
	background: linear-gradient(114.93deg, #618967 5.11%, #72a479 94%);
	box-shadow: 0px 5px 10px rgba(114, 163, 121, 0.7);
}
