@import url(./../../styles/fonts.css);

.cart {
	margin-top: 100px;
	display: flex;
	flex-direction: column;
	row-gap: 20px;
}

.back {
	padding: 10px;
	text-decoration: none;
	font-family: Gilroy-Bold;
	font-size: calc(16.4px + 1vw);
	line-height: calc(22px + 1vw);
	color: #fff;
}

.back:hover {
	color: #618967;
}

.cart__title {
	padding: 0 20px;
	border-left: 4px solid #618967;
	font-family: Gilroy-Bold;
	font-size: 32px;
	line-height: 39px;
	text-transform: uppercase;
	color: #fff;
}
