@import url(./../../styles/fonts.css);

.cart {
	margin-top: 100px;
	gap: 20px;
}

.container {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	gap: 40px;
	flex: 2;
}

.order {
	width: 100%;
	margin-top: 40px;
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	background-image: linear-gradient(90deg, #494544 0%, #504b4a 100%);
}

.product {
	padding: 20px 40px 20px 20px;
	border-bottom: 1px solid #fff;
	display: flex;
	justify-content: space-between;
	position: relative;
}

.product:last-child {
	border-bottom: none;
}

.productAbout {
	display: flex;
	align-items: center;
	column-gap: 40px;
}

.productAbout img {
	height: 80px;
	width: 120px;
}

.titleBox {
	max-width: 265px;
	display: flex;
	flex-direction: column;
	gap: 4px;
}

.title {
	font-family: Gilroy-Bold;
	font-size: 18px;
	line-height: 22px;
	color: #fff;
}

.description {
	font-size: 12px;
	line-height: 14px;
	color: #a6a7ab;
}

.productDetails {
	display: flex;
	align-items: center;
}

.addStylesButton {
	width: 30px;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	font-size: 1.2em;
	background: #72a479;
}

.total {
	width: 780px;
	padding: 30px;
	border-radius: 10px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	align-self: center;
	background-image: linear-gradient(90deg, #494544 0%, #504b4a 100%);
	text-align: center;
}

.totalBox {
	display: flex;
	align-items: center;
	gap: 10px;
}

.totalTitle {
	font-family: Gilroy-Medium;
	font-size: 18px;
	line-height: 21px;
	color: #a6a7ab;
}

.totalPrice {
	font-family: Gilroy-Bold;
	font-size: 24px;
	color: #fff;
}

.totalButton {
	padding: 16px 50px;
	border-radius: 10px;
	background-image: linear-gradient(114.93deg, #618967 5.11%, #72a479 94%);
	font-family: Gilroy-Bold;
	font-size: 14px;
	line-height: 17px;
	text-decoration: none;
	color: #fff;
}

.totalButton:active {
	box-shadow: 0 0 4px #618967;
}

@media (max-width: 1060px) {
	.product {
		padding: 20px;
	}
}

@media (max-width: 882px) {
	.cart {
		margin-top: 134px;
	}

	.product {
		gap: 10px;
	}
}

@media (max-width: 834px) {
	.total {
		width: 100%;
	}
}

@media (max-width: 780px) {
	.description {
		display: none;
	}
}

@media (max-width: 660px) {
	.product {
		flex-direction: column;
		align-items: center;
	}
}

@media (max-width: 500px) {
	.total {
		flex-direction: column;
		gap: 20px;
	}
}
