@import url(./../../styles/fonts.css);

.container {
	height: 400px;
	display: flex;
	flex-direction: column;
	flex: 2;
	row-gap: 50px;
}

.backward {
	align-self: start;
	padding: 10px;
	text-decoration: none;
	font-family: Gilroy-Bold;
	font-size: 16px;
	line-height: 20px;
	color: #fff;
}

.backward:hover {
	color: #618967;
}
