.main {
	padding: 50px 90px;
	display: flex;
	flex-direction: column;
	flex: 1;
}

.styleContainer {
	margin-top: 100px;
	display: flex;
	flex-direction: column;
	row-gap: 20px;
}

.styleBack {
	align-self: start;
	padding: 10px;
	text-decoration: none;
	font-family: Gilroy-Bold;
	font-size: 16px;
	line-height: 20px;
	color: #fff;
}

.styleBack:hover {
	color: #618967;
}

.styleTitle {
	padding: 0 20px;
	border-left: 4px solid #618967;
	color: #fff;
	font-family: Gilroy-Bold;
	font-size: 32px;
	line-height: 39px;
	text-transform: uppercase;
}

@media (max-width: 1280px) {
	.main {
		padding: 50px 20px;
	}

	.styleTitle {
		font-size: calc(32px - (14px) + 1vw);
	}
}

@media (max-width: 882px) {
	.styleContainer {
		margin-top: 134px;
	}
}
