@import url(./../../../../styles/fonts.css);

.container {
	display: flex;
	align-items: center;
	column-gap: 10px;

	.calling {
		width: 32px;
		height: 32px;
		border-radius: 50%;
		background: linear-gradient(114.93deg, #618967 5.11%, #72a479 94%);
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.contacts {
		display: flex;
		flex-direction: column;

		& span:first-child {
			font-size: 12px;
			line-height: 20px;
			color: #cfcfcf;
		}

		& span:last-child {
			font-family: Gilroy-Bold;
			font-size: 16px;
			line-height: 20px;
			color: #cfcfcf;
		}
	}

	@media (max-width: 1175px) {
		& {
			display: none;
		}
	}
}
