@import url(./../../styles/fonts.css);

.navigation {
	display: flex;
	justify-content: space-evenly;
	border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.navigation a {
	display: inline-block;
	height: 80px;
	padding: 0 20px;
	line-height: 80px;
	text-decoration: none;
	font-family: Gilroy-Medium;
	font-size: 18px;
	color: #ffffff;
}
