@import url(./../../styles/fonts.css);

.product {
	margin-top: 100px;
	gap: 20px;
}

.container {
	border-radius: 10px;
	display: flex;
	position: relative;
	background: linear-gradient(90deg, #494544 0%, #504b4a 100%);
}

.productImage {
	border-radius: 10px 0 0 10px;
	flex: 1.16;
}

.content {
	padding: 50px 40px 25px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	flex: 1;
	gap: 20px;
}

.headerBox {
	display: flex;
	flex-direction: column;
	gap: 5px;
}

.headerBox h3 {
	font-family: Gilroy-Bold;
	font-size: 25px;
	line-height: 30px;
	color: #fff;
}

.headerBox p {
	font-size: 14px;
	line-height: 16px;
	color: #cfcfcf;
}

.mainBox {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.weight {
	font-size: 14px;
	line-height: 16px;
	color: #fff;
}

.cartBox {
	display: flex;
	align-items: center;
	column-gap: 25px;
}

.cartButton {
	order: -1;
}

tbody tr:first-child {
	font-family: Gilroy-Light;
	font-size: 12px;
	line-height: 14px;
	color: #fff;
}

tbody tr:last-child {
	font-family: Gilroy-Medium;
	font-size: 12px;
	line-height: 14px;
	color: #fff;
}

tbody tr td {
	width: 100px;
	padding: 4px;
}

tbody tr:first-child td {
	border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

@media (max-width: 960px) {
	.container {
		max-width: 460px;
		flex-direction: column;
		align-self: center;
	}

	.content {
		padding: 20px 40px;
	}
}

@media (max-width: 480px) {
	.content {
		padding: 20px 20px;
	}
}
