@import url(./../../../../styles/fonts.css);

.cartButton {
	padding: 8px 0;
	border-radius: 10px;
	background: linear-gradient(114.93deg, #618967 5.11%, #72a479 94%);
	text-decoration: none;
	display: flex;
	cursor: pointer;
}

.title {
	width: 100px;
	height: 36px;
	color: #ffffff;
	border-right: 1px solid rgba(255, 255, 255, 0.3);
	font-family: Gilroy-Semibold;
	font-size: 14px;
	line-height: 17px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.count {
	width: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.count span {
	width: 24px;
	height: 24px;
	border-radius: 50%;
	background: #ffffff;
	text-align: center;
	font-family: Gilroy-Semibold;
	font-size: 12px;
	line-height: 24px;
	color: #403c3b;
}
