@import url(./../../../../styles/fonts.css);

.navigation {
	display: flex;
	justify-content: space-evenly;
	border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.navigation a {
	padding: 30px 20px;
	text-decoration: none;
	text-align: center;
	font-family: Gilroy-Medium;
	font-size: calc(14px + 0.25vw);
	color: #fff;
}
