.container {
	width: 210px;
	padding: 10px;
	border-radius: 10px;
	box-shadow: 0 0 4px rgba(255, 255, 255, 0.4);
	background-image: linear-gradient(114.93deg, #618967 5.11%, #72a479 94%);
	display: flex;
	flex-direction: column;
	gap: 10px;
	font-family: Gilroy-Medium;
	font-size: 20px;
	line-height: 24px;
	color: #cfcfcf;
	cursor: pointer;

	@media (max-width: 800px) {
		& {
			display: none;
		}
	}

	.loading {
		color: #00f;
		text-align: center;
	}

	.error {
		color: #f00;
		text-align: center;
	}
}
