@import url(./../../styles/fonts.css);

.delivery {
	margin-top: 100px;
	gap: 20px;

	@media (max-width: 882px) {
		& {
			margin-top: 134px;
		}
	}

	.container {
		display: flex;
		gap: 20px;
		flex: 1;
	}

	.accordion {
		width: 620px;
		display: flex;
		flex-direction: column;
		gap: 10px;
	}
}
