@import url(./../../styles/fonts.css);

.title {
	padding: 0 20px;
	border-left: 4px solid #618967;
	color: #ffffff;
	font-family: Gilroy-Bold;
	font-size: 32px;
	line-height: 39px;
	text-transform: uppercase;
}
